cairocffi==1.7.1
cairosvg==2.8.2
cffi==2.0.0
chess==1.11.2
cssselect2==0.8.0
defusedxml==0.7.1
llist==0.7.1
llvmlite==0.46.0
lru-dict==1.4.1
numba==0.63.1
numpy==2.3.5
pillow==12.1.0
pycparser==3.0
pygame==2.6.1
tinycss2==1.5.1
typing-extensions==4.15.0
webencodings==0.5.1
